.plot-grid-container{
    display: grid;
    grid-template-columns: repeat(4,100px);
    grid-gap: 5%;

}

.country-name {
    display: flex;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;  
    justify-content: left;
    align-items: center;
    
}

.panel-container {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    grid-gap: 1%;
}



li {
    list-style: none;
    margin-inline-start: 0;

}

.legend-entity-text,
.player-circle {
    cursor:pointer;
}



.sort-container{
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
}

.sort-button{
  width: fit-content;
  background-color: powderblue;
  padding: 0.3%;
  margin: 0.3%;
  cursor: pointer;
  border-radius: 4px;
}

.age-button{
  width: fit-content;
  background-color: pink;
  padding: 0.3%;
  margin: 0.3%;
  cursor: pointer;
  border-radius: 4px;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
}