.plot-grid-container{
    display: grid;
    grid-template-columns: repeat(4,200px);
    row-gap: 0%;
    column-gap:1%;
    /* justify-content: center; */

}

.country-name {
    display: flex;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;  
    font-weight: 600;
    justify-content: left;
    padding-left:7%;
    padding-bottom:0%;
    margin-bottom:0%;
    margin-top:4%;

}


.instruction-interaction {
    display: flex;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;  
    justify-content: left;
    padding: 1%;
    margin: 1%;
    margin-top: 6%;
    margin-bottom: 2%;
    cursor: pointer;
    border-radius: 4px;

}

#show-all-button {
    display: flex;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;  
    justify-content: left;
    width: fit-content;
    background-color: powderblue;
    cursor: pointer;
    border-radius: 4px;
    margin-left: 2%;
    margin-right: 2%;

}
body{
    margin:0;
     


}

.selection-grid-container{
    display: grid;
    grid-template-columns: 200px 200px 200px 200px 200px 200px 200px;
    /* grid-gap: 0.2%; */
    justify-content: center;
    margin-left:auto;
    margin-bottom: 40px;
    margin-top: 20px;
    /* position: sticky; */
}  

.selection-button {
    display: flex;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;  
    justify-content: left;
    width: fit-content;
    width: 80%;
    background-color: powderblue;
    cursor: pointer;
    border-radius: 10px;
    margin-left: 2%;
    margin-right: 2%;
    padding:3%;
    cursor:pointer;

}

.sort-team {
    display: flex;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;  
    justify-content: left;
    width: fit-content;
    background-color: lightblue;
    cursor: pointer;
    border-radius: 10px;
    margin-left: 2%;
    margin-right: 2%;
    padding:2%;
    cursor:pointer;
    margin-top:2%;
}

#group.sort-team {
    background-color: #3377ff;
    color:white;
}

.panel-container {
    display: grid;
    /* grid-template-columns: 1fr 1fr 3fr; */
    /* grid-template-columns: 200px 300px 900px; */
    /* grid-template-columns: 300px 900px 200px; */
    grid-template-columns: 350px 800px 250px;
    width:100%;
    grid-gap: 1%;
    justify-content: center;
    /* max-width: 100%; */
    /* margin-left:auto; */
    /* margin-right:auto; */
    margin: auto;

}


.normal-container {
    /* display: flex; */
    justify-content: center;

}

.title{
    font-family: 'Roboto', sans-serif;
    font-size: 40px; 
    margin: 0 auto;
    display: relative;
    width: fit-content;
}

.subtitle{
    font-family: 'Roboto', sans-serif;
    font-size: 27px; 
    margin: 0 auto;
    display: relative;
    width: fit-content;
}

.intro{
    font-family: 'Roboto', sans-serif;
    /* margin-left:40px; */
    /* display: flex; */
    justify-content: center;
    width: 60%;
    /* position: relative; */
    margin: 0 auto;
    font-size: 14px; 
    line-height: 1.5;
}


ul {
    margin: 0;
    margin-top:5%;
    padding: 0;
}

li {
    list-style: none;
    margin-inline-start: 0;
}

.legend-text,
.player-circle {
    cursor:pointer;
}
/* 
.changing-variable {
    background-color:yellow;
} */

.analysis {
    font-family: 'Roboto', sans-serif;
    font-size: 14px; 
}

.panel-title {
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 16px;
    justify-content: left;
    text-decoration: underline;
    text-underline-offset: 3px;
    text-underline-position: under;
    margin-bottom: 5%;

}

#dynamic-numbers{
    font-weight: 600;

}

.country-sort-index{
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 10px;
}
